.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columnHeaderButton {
  display: flex;
  gap: 6px;
}

.columnHeaderText {
  text-transform: capitalize;
}

.emptyState {
  color: #888;
  text-align: center;
}

.paginationButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.selected {
  background-color: rgb(202, 238, 244);
}
