.note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  border: 1px solid #cccccc;
  padding: 12px;
  margin-block-end: 10px;
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 10px;
}
