.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 5px;
}

.imageContainer {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-block: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
