.add-todo-controls {
  align-items: center;
  display: flex;
  gap: 10px;

  input {
    width: 300px;
  }
}

.delete {
  margin-left: auto;
}

.empty-state {
  color: #888;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.list-item {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  padding: 8px 12px;
}
